html {
  height: inherit !important; }

body {
  
  overflow-x: visible;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  webkit-tap-highlight-color: #eeeeee;
}
  
.main-title {
  color: white;
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  text-align: right;
  position: relative;
  float: right; }

.detail-title {
  color: white;
  font-size: 18px;
  line-height: 40px;
  text-align: right; }

.simple-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #777777; }

.content-title {
  margin-bottom: 20px; }

.custom-button-position {
  margin-top: -40px;
  position: relative;
  text-align: right; }

@media (max-width: 765px) {
  .custom-button-position {
    margin-top: 5px; } }
.navbar-header {
  position: relative;
  float: left;
  margin-top: 20px; }

.navbar-detail {
  background-color: #F7FE2E;
  width: 100%; }

.navbar-fixed-top {
  position: center;
  z-index: 5 !important; }

.text-muted {
  color: #777777; }

.text-primary {
  color: #F7FE2E; }

.simple-padding {
  padding: 5px 5px 5px 5px; }

.no-padding {
  padding: 5 !important; }

.no-padding-right {
  padding-right: 0px; }

.no-padding-left {
  padding-left: 0px !important; }

p {
  
  font-size: 14px;
  line-height: 1.75; }

p.large {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700; }

.btn-primary {
  color: black;
  background-color: #F7FE2E;
  border-color: #088A08;
  text-transform: uppercase;
  font-weight: 700; }

.custom-button {
  min-width: 50px !important;
  background-color: #F7FE2E !important; }

.custom-grid-edit-button {
  min-width: 40px !important; }

@media (max-width: 416px) {
  .navbar-right .dropdown-menu {
    right: auto;
    left: 0; } }
.navbar {
  padding: 0 !important;
  position: relative; }

.navbar-custom {
  background-color: #F7FE2E;
  border-color: transparent; }

.navbar-brand {
  padding: 0px; }

.navbar-custom .navbar-brand {
  color: #F7FE2E; }

.navbar-custom .navbar-collapse {
  border-color: #088A08; }

.navbar-custom .navbar-toggle {
  background-color: #F7FE2E;
  border-color: #088A08;
  text-transform: uppercase;
  color: #088A08;
  font-size: 12px; }

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #088A08; }

.content {
  margin-top: 30px; }

@media (max-width: 450px) {
  .main-title {
    margin-top: 0px; } }
@media (max-width: 415px) {
  .main-title {
    font-size: 25px;
    text-align: center; }

  .detail-title {
    line-height: 30px;
    text-align: center;
    margin: 10px 0; } }
.navbar-custom.affix {
  background-color: #F7FE2E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none; }

  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    padding: 0px !important; }

  .navbar-custom.affix {
    padding: 10px 0px 0px 0px; }

  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em; }

  .navbar-custom .navbar-title {
    display: none;
    position: fixed;
    left: 40%;
    text-align: center;
    color: white;
    line-height: 25px; }

  .navbar-custom.affix .navbar-title {
    display: block; } }
.navbar-custom .navbar-title {
  display: none; }

::-moz-selection {
  text-shadow: none;
  background: #eeeeee; }

::selection {
  text-shadow: none;
  background: #eeeeee; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

.navbar-fixed-bottom {
  background-color: #F7FE2E;
  color: #088A08;
  height: 30px;
  text-align: center; }

.md-dialog-container { 
  height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
}

.footer-left-logo, .footer-right-logo {
  position: relative;
  margin-top: 5px; }

.footer-left-logo {
  float: left; }

.footer-right-logo {
  float: right; }

/*# sourceMappingURL=site.css.map */
