<md-dialog aria-label="Mango (Fruit)">
<md-toolbar>
    <div class="md-toolbar-tools">
      
       <span flex
        class="glyphicon glyphicon-user">
      </span>
      <h1>Cadastrar Jogador</h1>
      <span flex></span>
      <md-button aria-label="Cancelar" class="md-icon-button" 
      ng-click="Ctrl.cancelar()">
        <span class="glyphicon glyphicon-remove"></span>
      </md-button>
    </div>
    </md-toolbar>
<form name="mesoForm">
 
  <md-dialog-content>
    <div class="md-dialog-content">
      
      <md-input-container class="md-block" flex>
        <label>Matricula</label>
        <input id="matricula"  ng-model="matricula" required>
      </md-input-container>
  
      <md-input-container class="md-block" flex>
        <label>Nome</label>
        <input id="nome" name="nome" 
        ng-model="nome_jog" required>
      </md-input-container>
      
       
        
        <md-input-container>
          <label>D. Nasc.</label>
          <md-select id="dia" name="dia" ng-model="SelectDia">
            <md-option  ng-repeat="item in Ctrl.dias" ng-value="item" >
              {{item}}
            </md-option>
          </md-select>
          
        </md-input-container>

        <md-input-container>
          <md-select id="mes" name="mes" ng-model="SelectMes">
            <md-option  ng-repeat="state in Ctrl.meses" ng-value="state" >
              {{state.nome}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <md-select id="ano" name="ano" ng-model="SelectAno">
            <md-option  ng-repeat="state in Ctrl.anos" ng-value="state" >
              {{state}}
            </md-option>
          </md-select>
        </md-input-container>
      

    <div>
          <md-input-container>
          <label>Altura</label>
        <input id="altura" name="altura" ng-model="altura" style="height:54px">
        </md-input-container>
      
        <md-input-container>
          <label>Peso:</label>
          <input id="peso" name="peso" ng-model="peso" style="height:54px">
        </md-input-container>

        <md-input-container>
          <label>Posição:</label>
         <md-select id="pos" name="pos" ng-model="SelectPos">
            <md-option  ng-repeat="state in Ctrl.pos" ng-value="state" >
              {{state}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>



    <md-input-container class="md-block" flex>
        <label>Nome da Mãe</label>
        <input id="nome_mae" name="nome_mae" 
        ng-model="nome_mae">
      </md-input-container>

      <md-input-container class="md-block" flex>
        <label>Nome do Pai</label>
        <input id="nome_pai" name="nome_pai" 
        ng-model="nome_pai">
      </md-input-container>
      <div>
          <md-input-container>
          <label>Endereço</label>
        </md-input-container>
      
        <md-input-container>
          <label>Rua/Av:</label>
          <input id="endereco" name="end" ng-model="endereco" style="height:54px">
        </md-input-container>
      </div>

    


      
    </div>
    


    </md-dialog-content>
           
    <md-dialog-actions>
  
      <md-button class="md-raised md-primary" ng-click="Ctrl.salvar()" 
      type="submit">
      <span 
        class="glyphicon glyphicon-floppy-disk">
      </span>
      Salvar
      </md-button>
  
      <md-button class="md-raised md-primary" ng-click="Ctrl.cancelar()">
        <span 
        class="glyphicon glyphicon-remove">
      </span>
        Cancelar
        </md-button>
  
    </md-dialog-actions>
 

</form>
</md-dialog>

